@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

.base-card {
  border-radius: 4px;
  box-shadow: 0px 4px 20px 0px #00000040;
  background-color: #6C6C6C;
}

.base-input {
  border-radius: 4px;
  font-size: 16px;
  letter-spacing: -0.015em;
  background-color: #FEFEFE;
  color: #263238;
  height: 50px;
  border: 1px solid #FEFEFE;
}

.base-input::placeholder {
  color: #9E9E9E;
}
