.movie-list-container {
    padding: 20px 15px;
}

.pagination-container {
    margin-top: 20px;
}

@media (min-width: 576px) {
    .movie-list-container {
        padding: 20px;
    }
}

@media (min-width: 768px) {
    .movie-list-container {
        padding: 40px;
    }

    .pagination-container {
        margin-top: 40px;
    }
}